<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soyaa.exus.exercise.dao.ExerciseDAO">
 	<insert id="insertExercise" parameterType="map">
 		INSERT INTO
 			`exerciseRecord`
 		(
 			`userId`
 			, `exercise`
 			, `missionId`
 			, `missionTime`
 			, `date`
 			, `didOrNot`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{exercise}
 			, #{missionId}
 			, #{missionTime}
 			, #{date}
 			, #{didOrNot}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<update id="updateExercisePlan" parameterType="map">
 		UPDATE 
 			`exerciseRecord`
 		SET
 			`exercise` = #{exercise}
 			, `missionId` = #{missionId}
 			, `missionTime` = #{missionTime}
 			, `updatedAt` = now()
 		WHERE
 			`id` = #{exerciseId}
 	</update>
 	
 	<delete id="deleteExercisePlan" parameterType="int">
 		DELETE FROM 
 			`exerciseRecord`
 		WHERE
 			`id` = #{exerciseId}
 	</delete>
 	
 	
 	<insert id="insertWeight" parameterType="map">
 		INSERT INTO
 			`weight`
 		(
 			`userId`
 			, `weight`
 			, `date`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
		(
 			#{userId}
 			, #{weight}
 			, #{date}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<update id="updateWeight" parameterType="map">
 		UPDATE 
 			`weight`
 		SET
 			`weight` = #{weight}
 			, `updatedAt` = now()
 		WHERE
 			`id` = #{weightId}
 	</update>
 	
 	<insert id="insertDiet" parameterType="map">
 		INSERT INTO 
 			`diet`
 		(
 			`userId`
 			, `date`
 			, `diet`
 			, `calorie`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{date}
 			, #{diet}
 			, #{calorie}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<update id="updateDiet" parameterType="map">
 		UPDATE 
 			`diet`
 		SET
 			`diet` = #{diet}
 			, `calorie` = #{calorie}
 			, `updatedAt` = now()
 		WHERE
 			`id` = #{dietId}
 	</update>
 	
 	<select id="selectExercise" parameterType="map" resultType="com.soyaa.exus.exercise.model.ExerciseRecord">
 		SELECT 
 			`id`
 			, `userId`
 			, `missionId`
 			, `missionTime`
 			, `date`
 			, `exercise`
 			, `exerciseTime`
 			, `didOrNot`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`exerciseRecord`
 		WHERE
 			`userId` = #{userId} AND `date` = #{date}
 	</select>
 	
 	<select id="selectWeight" parameterType="map" resultType="com.soyaa.exus.exercise.model.Weight">
 		SELECT 
 			`id`
 			, `userId`
 			, `weight`
 			, `date`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`weight`
 		WHERE 
 			`userId` = #{userId} AND `date` = #{date}
 	</select>
 	
 	<select id="selectDiet" parameterType="map" resultType="com.soyaa.exus.exercise.model.Diet">
 		SELECT 
 			`id`
 			, `userId`
 			, `date`
 			, `diet`
 			, `calorie`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`diet`
 		WHERE
 			`userId` = #{userId} AND `date` = #{date}
 	</select>
 </mapper>